export const auth = {
    salt: 'your-auth-salt-here',
};
export const db = {
    host: process.env.NODE_ENV === 'production' ? 'rdb' : 'docker.dev',
    database: 'exynizedb',
    user: '',
    password: '',
};

export const email = {
    host: 'mail.domain.com',
    port: 465,
    secure: true,
    auth: {
        user: 'user@domain.com',
        pass: 'pass'
    },
};

export const jwtconf = {
    secret: 'your-jwt-secret-here',
};
